<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.sm2025team4.repository.Cust_InfoRepository">

    <select id="select" parameterType="Integer" resultType="Cust_Info">
        SELECT * FROM cust_info WHERE custinfo_no=#{custinfo_no}
    </select>
    <select id="selectAll" resultType="Cust_Info">
        SELECT * FROM cust_info
    </select>
    <select id="selectByForeignKey" parameterType="String" resultType="Cust_Info">
        SELECT * FROM cust_info WHERE cust_id=#{cust_id}
    </select>
    <insert id="insert" parameterType="Cust_Info" useGeneratedKeys="true" keyProperty="custinfo_no">
        INSERT INTO cust_info (cust_id,custinfo_name,custinfo_addr,custinfo_phone, custinfo_regdate, custinfo_update)
            VALUES (#{cust_id},#{custinfo_name},#{custinfo_addr},#{custinfo_phone}, now(), now())
    </insert>
    <update id="update" parameterType="Cust_Info">
        UPDATE cust_info SET custinfo_addr=#{custinfo_addr}, custinfo_phone=#{custinfo_phone}, custinfo_update=now() WHERE custinfo_no=#{custinfo_no}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE FROM cust_info WHERE custinfo_no=#{custinfo_no}
    </delete>
    <delete id="deleteByForeignKey" parameterType="String">
        DELETE FROM cust_info WHERE cust_id=#{cust_id}
    </delete>
</mapper>