<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.sm2025team4.repository.QnARepository">

    <select id="select" parameterType="Integer" resultType="QnA">
-- 게시글 내용을 조건으로 검색하는 기능(select라서 id를 수정하거나 java클래스에서 String으로 수정이 필요할수도 있음)
        SELECT * FROM qna WHERE qna_article like CONCAT('%', #{qnaArticle}, '%')
    </select>
    <select id="selectAll" resultType="QnA">
        SELECT * FROM qna
    </select>
    <insert id="insert" parameterType="QnA">
        INSERT INTO qna VALUES (0, #{product_id}, #{qna_upper_no}, #{order_id}, #{cust_id}, #{qna_article}, now(), now())
    </insert>
    <update id="update" parameterType="QnA">
-- 게시글 내용 수정
        UPDATE qna SET qna_article=#{qna_article}, qna_update=now() WHERE qna_no=#{qna_no}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE FROM qna WHERE qna_no=#{qna_no}
    </delete>

</mapper>