<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.sm2025team4.repository.QnARepository">

    <select id="select_qna" resultType="QnA">
        SELECT * FROM qna WHERE product_id = #{product_id}
        ORDER BY qna_upper_no is not NULL, qna_upper_no, qna_no
    </select>

    <select id="search" parameterType="Integer" resultType="QnA">
        -- 게시글 내용을 조건으로 검색하는 기능(수정필요)
        SELECT * FROM qna WHERE qna_article like CONCAT('%', #{qna_article}, '%')
    </select>

    <select id="select" parameterType="Integer" resultType="QnA">
        SELECT * FROM qna WHERE qna_no = #{qna_no}
    </select>

    <select id="selectAll" resultType="QnA">
        SELECT * FROM qna
    </select>
    <insert id="insert" parameterType="QnA" useGeneratedKeys="true" keyProperty="qna_no">
        INSERT INTO qna (product_id,qna_upper_no,cust_id,qna_article)
        VALUES (#{product_id},#{qna_upper_no},#{cust_id},#{qna_article})
    </insert>
    <update id="update" parameterType="QnA">
-- 게시글 내용 수정
        UPDATE qna SET qna_article=#{qna_article}, qna_update=now() WHERE qna_no=#{qna_no}
    </update>

    <delete id="delete" parameterType="Integer">
        DELETE FROM qna WHERE qna_no=#{qna_no}
    </delete>

</mapper>