<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.sm2025team4.repository.ReviewRepository">

    <select id="search" parameterType="map" resultType="Review">
        SELECT * FROM review
        WHERE product_id = #{product_id}
          AND review_article LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY review_regdate DESC
    </select>

<!--  SELECT  -->
    <select id="selectByReviewNo" parameterType="Integer" resultType="Review">
        SELECT * FROM review WHERE review_no=#{review_no}
    </select>
    <select id="selectByCustId" parameterType="String" resultType="Review">
        SELECT * FROM review WHERE cust_id=#{cust_id}
    </select>
    <select id="selectByProductId" parameterType="Integer" resultType="Review">
        SELECT * FROM review WHERE product_id=#{product_id}
    </select>

<!--  INSERT  -->
    <insert id="insert" parameterType="Review" useGeneratedKeys="true" keyProperty="review_no">
        INSERT INTO review (cust_id,product_id,review_article,review_score)
        VALUES (#{cust_id},#{product_id},#{review_article},#{review_score})
    </insert>

<!--  UPDATE  -->
    <update id="update" parameterType="Review">
        UPDATE review SET review_article=#{review_article},
                          review_score=#{review_score},
                          review_update=now()
        WHERE review_no=#{review_no}
    </update>

<!--  DELETE  -->
    <delete id="deleteByProductId" parameterType="Integer">
        DELETE FROM review WHERE product_id=#{product_id}
    </delete>
    <delete id="deleteByCustId" parameterType="String">
        DELETE FROM review WHERE cust_id=#{cust_id}
    </delete>
    <delete id="deleteByReviewNo" parameterType="Integer">
        DELETE FROM review WHERE review_no=#{review_no}
    </delete>

</mapper>